.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.green{
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.white{
  color: #009879;
  background-color: #ffffff;
  text-align: center;
}

.signinupbtn{
  box-shadow: 0 0 0 #eee; 
  border-radius: 20px;
  color: #009879;
  background: #fff;
  min-width: 120px;
}

.logincrt{
    box-shadow: 0 0 0 #eee; 
    border-radius: 20px;
    background: #009879;
    color: #fff;
    min-width: 200px;
}

.frgtpswdbtn{
  box-shadow: 0 0 0 #009879; 
  border-radius: 20px;
  background: #fff;
}

.bottom0 {
  position: fixed;
  bottom: 0; 
  margin-left: 1%;
}

.left0{
  left: 0; 
}